.idea

.git
.gitignore
.github

Dockerfile
docker-compose.yml
docker-compose.override.yml
grigory-stack.yml
.dockerignore

mkdocs.yml
docs

LICENSE
README.md

__pycache__
venv
.env.example
.env
static
media

 .*_history
.cache