__pycache__

.idea

venv

.git
.gitignore
.github

Dockerfile
docker-compose.yml
docker-compose.override.yml
grigory-stack.yml
.dockerignore

mkdocs.yml
docs

LICENSE
README.md

.env.example
.env

 .*_history
