# Python
python-dotenv~=1.0.0

# Django
Django==3.2
djangorestframework
django-filter==23.2

# Microservices
dj-ms-auth-router==1.5.1

# Database
psycopg2-binary
dj_database_url==2.0.0

# Security
django-cors-headers

# Deployment
gunicorn
uvicorn[standard]==0.22.0

# Distributed async tasks
celery
django-celery-beat

# Channels
channels
channels_redis

# Redis - needed both for channels and celery
redis
