# Python
python-dotenv

# Django
Django
django-rest-framework

# Database
psycopg2-binary
dj_database_url

# Security
django-cors-headers

# Deployment
gunicorn
uvicorn[standard]
whitenoise

# Distributed async tasks
celery
redis
django-celery-beat
django-celery-results
