{% extends '_partials/base.html' %}

{% block contents %}
<div class="container py-5 px-4">
  <!-- For demo purpose-->
  <header class="text-center">
    <h1 class="display-4 text-white">Grigory Demo</h1>
    <p class="text-white lead mb-0">Hello, {{ request.user }}</p>
    <p class="text-white lead mb-4">
      <a href="{% url 'demo-logout' %}" class="text-white">
        <u>Logout</u></a>
    </p>
  </header>

  <div class="row rounded-lg overflow-hidden shadow bg-white">
    <!-- Users box-->
    <div class="col-sm-3 px-0 border-right">
      <div>

        <div class="bg-gray px-2 py-2 bg-light">
          <p class="h5 mb-0 py-1">Chat list</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0 px-2 py-2">
            <a class="list-group-item list-group-item-action active text-white rounded">
              <div class="media"><img src="https://www.svgrepo.com/download/458096/chat-alt-2.svg" alt="user" width="40" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Public Demo Chat</h6>
<!--                    <small class="small font-weight-bold">25 Dec</small>-->
                  </div>
                  <p class="font-italic mb-0 text-small">@demo_public</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-lg-9 px-0 py-2">
      <div class="px-4 py-2 chat-box" id="chat_area">

      </div>

      <!-- Typing area -->
      <div>
        <div class="text-center">
          <div class="spinner-border" id="chat-loader" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="px-4 py-2">
        <form action="#" class="bg-light border border-primary shadow">
          <div class="input-group">
            <input type="text" placeholder="Type a message" aria-describedby="button_send_message" class="form-control rounded-0 border-0 py-4 bg-light" id="id_message_send_input">
            <div class="input-group-append">
              <button id="button_send_message" type="submit" class="btn btn-link">
                <i class="fa fa-paper-plane m-2"></i></button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block extra_javascript %}
<script>
    if (window.location.protocol == "http:") {
        var wsStart = "ws://";
    } else {
        var wsStart = "wss://";
    }

    const chatSocket = new WebSocket(wsStart + window.location.host + "/ws/conversation?chat_slug=demo_public");

    var input = document.querySelector("#id_message_send_input");

    chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully!");
        chatSocket.send(JSON.stringify({ action: "load_messages" }));
        document.getElementById('chat-loader').style.display = 'none';
    };

    chatSocket.onclose = function (e) {
        console.log("Connection was closed.");
    };

    input.focus();

    document.querySelector("#button_send_message").onclick = function (e) {
        var messageInput = document.querySelector("#id_message_send_input").value;
        chatSocket.send(JSON.stringify({ message: messageInput }));
        input.value = "";
    };

    chatSocket.onmessage = function (e) {
        try {
          var data = JSON.parse(e.data);
        } catch (err) {
          console.log("Something went wrong with the data received from the server !");
          console.log(e.data);
          console.log(err);
          return;
        }
        if (data.type == "message") {
          drawMessage(data);
          } else {
            var messages = data.messages;
            var offset = data.offset;
            var limit = data.limit;
            for (var i = messages.length; i > 0; i--) {
              var msg = messages[i - 1];
              drawMessage(msg);
            }
          }
    };

    drawMessage = function (message) {
      var existing = document.querySelector("#message-" + `${message.id}`);
      if (existing) {
        return;
      }
      var parent = document.querySelector("#chat_area");
      var child = document.createElement("div");

      if (message.sender.username !== `{{ request.user.username }}`) {
        child.innerHTML = `
          <div class="media w-50 mb-3" id="message-${message.id}">
            <div class="media-body chadow ml-0">
              <div class="bg-light rounded border border-secondary py-2 px-3 mb-0 mt-0">
                <p class="text-small mb-2 mt-0 text-muted">${message.sender.username}</p>
                <p class="mb-0">${message.text}</p>
                <p class="text-small mt-2 mb-0 text-muted">${message.timestamp}</p>
              </div>
            </div>
          </div>
        `
      } else {
        child.innerHTML = `
          <div class="media w-50 ml-auto mb-3" id="message-${message.id}">
            <div class="media-body shadow">
              <div class="bg-light rounded border border-info py-2 px-3 mb-0 mt-0">
                <p class="mb-0">${message.text}</p>
                <p class="text-small mt-2 mb-0 text-muted">${message.timestamp}</p>
              </div>
            </div>
          </div>
        `
      }

      parent.appendChild(child);

    };

</script>
{% endblock %}

{% block extra_css %}
<style>
body {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 70vh;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}
</style>
{% endblock %}